<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UCL_2015.Properties.Settings.connsettings" connectionString="Data Source=DESKTOP-Q5IR4M0;Initial Catalog=&quot;UCL 2015&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>